* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    width: 960px;
    border: 1px dashed black;
}

.row {
    display: flex;
}

.square {
    height: 60px;
    width: 60px;
}

.square:hover {
    background-color: lightslategray;
}
