* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(35, 56, 56);
}

#btn-new {
    margin: 8px auto;
    display: block;
    font-size: 24px;
}

#container {
    margin: 0 auto;
    width: 960px;
    background-color: white;
}

.row {
    display: flex;
}

.square.filled {
    background-color: black;
}